/* Main section */
main > section {
  position: relative;
  text-align: center;
}

/* Graduate page entry image */
/* Centering text over the entry image */
section h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--h2-size);
}

/* Entry image */
#entry-image {
  width: 90%;
  height: auto;
  opacity: 0.4;
}