/* Navigation section to move between the graduates */
.change-graduates-nav {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.change-graduates-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

h3, figure img {
  margin-bottom: 20px;
}

figure {
  margin-bottom: 20px;
}

figcaption {
  display: block;
}