section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  gap: 10px;                                      
  padding: var(--spacing-medium);
}

figure {
  position: relative;
  width: 100%;
  aspect-ratio: 1.2/1;    
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
  transition: opacity 0.3s ease-out;
}

figure figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-weight: bold;
  transition: color 0.3s ease-out;
}

figure:hover img {
  opacity: 1;
}

figure:hover figcaption {
  color: transparent;
}


@media screen and (max-width: 1024px) {
  section {
    grid-template-columns: repeat(3, 1fr);  
  }
}

@media screen and (max-width: 768px) {
  section {
    grid-template-columns: 1fr;
  }
}


