/* CSS reset */
* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  border: 0;
  box-sizing: border-box;
}

/* Import Roboto font */
@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

html, body {
  height: 100%;
  background-color: var(--background-color);
  line-height: 1.5;
  color: var(--text-color);
  font-family: 'roboto', sans-serif;
}

html {
  scroll-behavior: smooth; /* Smooth scrolling */
  overflow-y: scroll; /* Scrollbar always visible */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-large) var(--spacing-large);
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  
}

/* CSS variables */
:root {
  --background-color: #ffffff;
  --text-color: #000000;

  --h1-size: 3rem;
  --h2-size: 2.5rem;
  --h3-size: 2rem;
  --p-size: 1.25rem;

  --spacing-small: 1rem;
  --spacing-medium: 2rem;
  --spacing-large: 3rem;

  --border-radius: 1rem;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

p {
  font-size: var(--p-size);
}

ul {
  font-size: var(--p-size);
}

h1, h2, h3, p {
  margin-bottom: var(--spacing-small);
}

/* Media queries for mobile devices */
@media screen and (max-width: 768px) {
  :root {
    --h1-size: 2.5rem;
    --h2-size: 2rem;
    --h3-size: 1.5rem;
    --p-size: 1rem;

    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.5rem;
  }

  body {
    line-height: 1.25;
  }
}




